<%provide(:title, "Create party")%>
<h1> Create Party </h1>
<div class='row'>
    <div class='col-md-6 col-md-offset-2' style='padding-top: 40px'>
        <div class='wrapper'>
            <%=form_for(@group, url: createparty_url) do |f|%>
                <%=render 'shared/group_error_messages'%>
                <%= f.label :name %>
                <%= f.text_field :name %>
                <%= f.label :creator, "Character" %>
                <%= f.select :creator, current_user.characters.map{|c| c.name}%>
                <%= f.label :boss%>
                <%= f.select :boss, ["Undecided", "Lotus (N)", "Damien (N)", "Lucid (N)", "Will (N)", "Lotus (H)", "Damien (H)", "Lucid (H)", "Will (H)"]%>
                <%= f.submit "Create party!", class: 'btn btn-primary'%>
            <%end%>
        </div>
    </div>
</div>

