<%provide(:title, @group.name)%>
<%=render 'shared/group_error_messages'%>
<h1> <%=@group.name%> </h1>
<div class='party-container' style="padding-left: 20px">
    <h3 style="margin-top: 20px" > Boss: <%=@group.boss%></h3>
    <ul class="visible-md-block visible-lg-block" style="padding-left: 40px; margin-bottom: 20px">
        <% @group.characters.each do |char|%>
            <h4 style= "padding-top: 20px">
                <li> 
                    <%=link_to char.name, char%> | <%=char.char_class%> | Level <%=char.level%> | <%=char.stat%>k  
                </li>
            </h4>
        <%end%>
    </ul>
    <ul class="visible-sm-block visible-xs-block" style="padding-left: 40px; margin-bottom: 20px">
        <% @group.characters.each do |char|%>
            <h4 style= "padding-top: 20px">
                <li> 
                    <%=link_to char.name, char%> | <%=char.char_class%> 
                </li>
            </h4>
        <%end%>
    </ul>
    <% if @char_list.include? @group.creator && @group.characters.size > 1%>
        <h2 style='margin-top: 30px'> Manage party </h2>
    <%end%>
    <% if @char_list.include?(@group.creator) && @group.characters.size > 1%>
        <h3 style='margin-left: 20px;'> Remove member </h3>
        <div style="width: fit-content; margin-top: 20px; margin-left: 20px">
                <%=form_for(@group, url: remove_group_url) do |f|%>
                    <%= f.hidden_field :name, value: @group.name %>
                    <%= hidden_field_tag 'selected', 'none'%> 
                    <%= f.hidden_field :creator, value: @group.creator %>
                    <%= hidden_field_tag 'selected', 'none'%>         
                    <%= f.hidden_field :boss, value: @group.boss %>
                    <%= hidden_field_tag 'selected', 'none'%>
                    <%= f.select :selected_char, get_party_chars_except_user%> 
                    <%= f.submit "Remove selected member", class: 'btn btn-primary'%>
                <%end%>
        </div>
    <%elsif !user_in_party? && @group.characters.size <= 5%>
        <% if current_user.characters.size != 0%>
            <h4> My characters </h4>
            <div style="width: fit-content">
                <%=form_for(@group, url: join_group_url) do |f|%>
                    <%= f.hidden_field :name, value: @group.name %>
                    <%= hidden_field_tag 'selected', 'none'%> 
                    <%= f.hidden_field :creator, value: @group.creator %>
                    <%= hidden_field_tag 'selected', 'none'%>         
                    <%= f.hidden_field :boss, value: @group.boss %>
                    <%= hidden_field_tag 'selected', 'none'%>
                    <%= f.select :selected_char, current_user.characters.map{|c| c.name}%> 
                    <%= f.submit "Join party!", class: 'btn btn-primary'%>
                <%end%>
            </div>
        <%end%>
    <%end%>
    <%if @char_list.include?(@group.creator)%>
        <%=button_to "Edit party info", edit_group_path(@group), method: :get, class: "btn btn-primary", style: "width: fit-content; margin-left: 20px; margin-top: 20px"%>
    <%end%>
    <h3> Party link: <%=request.original_url%> </h3>
</div>