<%provide(:title, @character.name)%>
<div id="char_info">
    <h1><%=@character.name%></h1>
    <div id="char_stat_info">
        <h3>Level: <%=@character.level%> </h3>
        <h3>Class: <%=@character.char_class%> </h3>
        <h3>Stat: <%=@character.stat%>k </h3>
        <% if get_current_user_chars.include? @character.name%>
            <%=button_to "Edit info", edit_character_path(@character), method: :get, class: "btn btn-primary"%>
            <%=button_to "Delete character", @character, method: :delete, data: {confirm: "You sure?"}, class: "btn btn-primary", style: "margin-top: 20px"%>
        <%end%>
    </div>
    <div id="party_info">
        <%if @character.groups.size != 0%>
            <h1> Parties </h1>
            <div class="party-container">
                <% @character.groups.each do |pty|%>
                    <div class="party-header" style="padding-left: 20px">
                        <h3><u> <%=link_to pty.name, pty%> </u></h3>
                        <h4 style="padding-left: 20px"> Boss: <%=pty.boss%> </h4>
                        <div class="party-members">
                            <ul>
                                <% pty.characters.each do |char|%>
                                    <%if char.name != @character.name%>
                                        <li> <%=link_to char.name, char%> | <%=char.char_class%> | Lvl <%=char.level%> | <%=char.stat%>k</li>
                                    <%end%>
                                    <% if char.name == @character.name%>
                                        <li> <%=char.name%> | <%=char.char_class%> | Lvl <%=char.level%> | <%=char.stat%>k</li>
                                    <%end%>
                                <%end%>
                            </ul>
                        </div>
                    </div>
                <%end%>
            </div>
        <%end%>
    </div>
</div>
