<nav class="navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">MapleFinder</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <% if logged_in? %>
        <li class=<%= active_state createparty_path%>><%= link_to "Party", createparty_path%></li>
        <li class=<%= active_state createchar_path%>><%= link_to "Characters", createchar_path%></li>
        <li class=<%= active_state current_user%>><%= link_to "Profile", current_user%></li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class=<%= active_state about_path%>><%= link_to  "About", about_path %></li>
        <li class=<%= active_state contact_path%>><%= link_to "Contact", contact_path%></li>
        <li class=<%= active_state signup_path%>><%= login_display%></li>
    </ul>
  </div>
</nav>