<nav class="navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">MapleFinder</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class=<%= active_state about_path%>><%= link_to  "About", about_path %></li>
        <li class=<%= active_state contact_path%>><%= link_to "Contact", contact_path%></li>
        <li class=<%= active_state signup_path%>><%= link_to "Login/Signup", signup_path%></li>
    </ul>
  </div>
</nav>